@media screen {
    
body{
    font-family: Georgia, serif;
}

#article{
    width: 70%;
    margin: auto;
}

#headline{
    font-size: 50px;
    
}
    #date{
        font: gray;
        font-size: 15px;
        
    }
    #byline{
        font-weight: bold;
    }
    #lead{
        width: 100%;
    }
}
@media(min-width:576px){
    #headline{
        font-size:80px;
    }
    #headshot {
        width: 30px;
        float: "left";
}
}
