h1 {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
}

.bold-title {
    font-weight: bold;
    font-size:100px;
    letter-spacing:3px;
}

.green {
    color:green;
}