@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: 10px;
    }

    #byline {
        font-weight: bolder;
    }

    #lead {
        width: 100%;
    }

    #headshot {
        width: 30px;
        float: left;
        margin-right: 10px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
