/*Color palette
 * Black - #0a090c
 * Gray - #f0edee
 * Dark turqouise - #07393c
 * */

@media screen {
    #topper {
        background-color: #07393c;
    }

    .green {
        background-color: green;
    }

    .bold {
        font-weight: bold;
    }
    
    #something {
        font-size:50px;
    }

    .spacing {
        padding: 17px 0px 17px 0px;
        margin: 30px 10px 50px 20px;
        width: 300px;
    }

    #headshot {
        width: 100%;
        border-radius: 45px;
        border: 8px solid #f0edee;
    }

    .fullwidth {
        padding: 0px;
    }

    h1 {
        font-family: "Host Grotesk", sans-serif;
        letter-spacing: -0.7px;
        font-weight: bold;
        text-transform: uppercase;
        color: #f0edee;
        padding: 10px 0px 0px 20px;
        font-size: 50px;
    }

    button {
        border-radius: 45px;
        border: none;
        width: 100px;
    }

    .job {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 3px solid blue;
    }

    .nav {
        justify-content: center;
    }

    .nav a {
        color: #07393c;
        text-decoration: none;
    }

    .nav a:hover {
        font-weight: bold;
        border-bottom: 1px solid blue;
    }
    
    .footer {
        position:fixed;
        top:0px;
    }
}

@media (min-width:576px) {
    #something {
        font-size:200px;
    }
}

