/*
MY COLOR PALETTE
Color 1 - #000000
Color 2 - #1b4235
Color 3 - #391bOb
Color 4 - #edd3c5
Color 5 - #ece7e3
*/
@media screen {
#topper {
    background-color: #1b4235;
}

#headshot{
    width:100%;
    padding: 0px;
    margin: 20px 0px 20px 40px
        border-radius: 500px;
    border: 8px solid #f0edee;
    margin: 10px;
}
h1{
    font-family:"Staatliches", sans-serif;
        letter-spacing: -0.7px;
        font-weight: bold;
        text-transform: uppercase;
       color: #eddf98;
        padding: 10px 0px 0px 20px;
    font-size:100px;
        
}

button{
    border-radius: 45px;
    border: none;
}

.job{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid beige;
}
.nav a{
    color: #07393c;
    text-decoration: none;
}

.nav a:hover {
    font-weight:bold;
    border-bottom: 1px solid beige;
}
    #button {
    background-color:#EDD3C5;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
}

#button a {
    color:white;
    text-decoration: none;
}
}


/*style h2 here*/